fastapi==0.121.0
uvicorn[standard]==0.38.0
gunicorn==23.0.0
python-multipart==0.0.20
bcrypt==5.0.0
python-dotenv==1.2.1
psycopg2-binary==2.9.9
# --- Light Web Vision Engine ---
numpy==1.23.5
opencv-python-headless==4.8.1.78
Pillow==9.5.0